/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 10rem;
  min-height: 100vh;
  font-family: "Garamond";
  font-size: 1.25rem;
  gap: 1rem;
  background-color: #0a0a0a;
}

.page_enterButton__RUAxy {
  animation: page_float__P1Jpw 2s infinite;
  background-color: #0a0a0a;
  transition: background-color 150ms ease-out;
  border-radius: 0.5rem;
  border: 1px solid #1a1a1a;
}
.page_enterButton__RUAxy:hover {
  background-color: #1a1a1a;
}

@keyframes page_float__P1Jpw {
  0% {
    transform: translateY(0.5rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

