.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 10rem;
  min-height: 100vh;
  font-family: "Garamond";
  font-size: 1.25rem;
  gap: 1rem;
  background-color: #0a0a0a;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.fadingText {
  animation: fade 3s ease-in-out forwards;
  position: absolute;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .fadingText {
    font-size: 1rem;
  }

  .image1,
  .image2 {
    width: 80vw;
    height: auto;
  }

  .main {
    padding: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imageContainer {
  position: relative;
  animation: heartbeat 2.25s linear infinite;
}

.imageContainerActive {
  position: relative;
  animation: heartbeatActive 1.5s linear infinite;
}

.container {
  animation: fadeIn 4s;
}

.image1 {
  position: relative;
  animation: flicker 2.25s ease-out infinite;
  z-index: 10;
  filter: brightness(0.7);
}

.image2 {
  position: absolute;
  left: 0;
  z-index: 0;
  animation: fadeIn 4s ease-out;
  transform: scaleX(-1);
  opacity: 0.8;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.02);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.01);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heartbeatActive {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.15);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
